<style>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <h4>Olá {{name}}!</h4>
  <br>
  <p>Recebemos sua solicitação para mudar sua senha.</p>
  <p>Se você realmente solicitou nossos serviços clique no link abaixo para redefinir sua senha</p>
  <br>
  <p>
    <a href="{{link}}">Mudar minha senha</a>
  </p>
  <br>
  <p>Caso você não tenha solicitado esse serviço favor descartar esse email</p>
  <br>
  <p>Obrigado!</p>
  <p>Equipe Bruno Moreira</p>
</div>
